@using Microsoft.AspNetCore.Identity
@model IEnumerable<TableTenisWebApp.Models.Player>
@inject UserManager<TableTenisWebApp.Models.ApplicationUser> UM


@{
    ViewData["Title"] = "Zawodnicy";
}

<h1>Zawodnicy</h1>

<p>
    <a asp-action="Create">Dodaj zawodnika</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td>
                    @{
                        bool isOwner = item.ApplicationUserId == UM.GetUserId(User);
                        bool isAdmin = User.IsInRole("Admin");
                        bool canEdit = isAdmin || isOwner;
                    }
                    @if (canEdit)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
 
                        <a asp-action = "Delete"  asp-route-id = "@item.Id" > Usuń </a> 
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                </td>

        </tr>
}
    </tbody>
</table>
